<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Thursday Javascript</title>
        <link href="style.css" rel="stylesheet" />
    </head>

    <body>
        <div id="table"></div>
        <script type="text/x-template" id="template-popup">
            <div class="popup-body">
                <span>{{text}}</span><br/>
                <button id="new-game" type="button">Новая игра</button>
                <label>H: <input type="number" id="height" value="15" /></label>
                <label>W: <input type="number" id="width" value="15"/></label>
                <br/><label>D: <select id="difficult">
                    <option value="8">IMPOSSIBLE</option>
                    <option value="7">LUCKER</option>
                    <option value="6">VERY HARD</option>
                    <option value="5">HARD</option>
                    <option value="4" selected>UPPER</option>
                    <option value="3">MEDIUM</option>
                    <option value="2">EASY</option>
                    <option value="1">NOOB</option>
                </select></label>
            </div>
        </script>
        <script type="text/javascript" src="handlebars-v4.0.5.js"></script>
        <script type="text/javascript" src="Color_Table.js"></script>
    </body>
</html>