.bomb.show,
.lose.show .bomb{
    background-image: url("img/bomb.png");
    background-size: contain;
    background-repeat: no-repeat;
}


.number.show.flag{
    background: none;
    background-color: azure;
}

span.flag{
    background: none;
}

.show.number,
.show .number{
    font-size: 100%;
    background-color: azure;
}
#saper_table{

    text-align: center;
    vertical-align: middle;
}

#saper_table tr,
#saper_table tr td{
    -moz-user-select: none;
    -webkit-user-select : none;
    user-select : none;
}

#saper_table span{
    color: red;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    visibility: hidden;
}

#saper_table.show span,
#saper_table .show span{
    visibility: visible;
}

.win.show .flag,
.flag{
    background-image: url("img/flag.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.popup-body{
    background-color: #EEE;
    text-align: center;
    font-size: 20px;
    color: red;
    font-weight: bold;
    display: block;
    position: absolute;
    left: 45%;
    top: 10%;
    width: 200px;
    height: 150px;
    box-shadow: 0 0 5px 2px;
    border-radius: 5px;
}

.popup-body input{
    width: 25%
}


.popup-body select{
    width: 40%;
}

.popup-body button {
    height: 40%;
    width: 100%;
    border-radius: 10px;
}